.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}
.input {
  border-radius: 5px;
  border: 1px solid rgb(26, 25, 25);
  height: 30px;
  font-size: medium;
  outline: none;
}
